{% load static%}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'DESKTOP/main.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style media="screen">
      p{
        color: #999;
        line-height: 25px;
      }
      h2{
        color: #fff;
        font-size: 18px;
      }
      .footer-top{
        background: #111;
        padding: 80px 0;
      }
      .segment-one{
        color: #fff;
        margin: 10px 0;
      }
      .segment-two h2{
        color: fff;
      }
      .segment-three h2:before{
        content: '|';
        color: #c65039;
        padding-right: 10px;
      }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .md-mb-30{
          margin-bottom: 30px;
        }
        @media only screen and (min-width: 768px){
          .sm-mb-30{
            margin-bottom: 30px;
          }
          .footer-top{
            padding: 50px 0;
          }
        }
      }
    </style>



</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">HOME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">



                <li class="nav-item">
                    <a  class="nav-link" href="#">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Log in</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>


        {% if messages %}
        {% for message in messages %}
           <div class="alert alert-{{messages.tags}}">{{message}}</div>
        {% endfor %}
      {% endif %}
      {%if user.authenticated%}
      <a href="{% url 'logout'%}">Logout</a>
      <a href="{% url 'profile'%}">Profile</a>

      {% else %}
      <a href="{% url 'login'%}">login</a>
      <a href="{% url 'user-register'%}">Register</a>
      {%endif%}

    {% block content %}

    {% endblock %}
    <footer style="">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 segment-one md-mb-30 sm-mb-30 ">
          <a href="#">About</a>
              <p>jksghhvghzfsy jdcgddhksa hsgkshdi</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 segment-two md-mb-30 sm-mb-30">
              <a href="">How it works</a>

            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 segment-three md-mb-30 sm-mb-30">
            <a href="#">Home</a>
            </div>

          </div>

        </div>

      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
